.coins-data-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    position: relative;
}
.coins-data-title span {
    font-size: 1rem;
}
.coins-data-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: .5rem;
}
.coins-data-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 1rem;
    min-width: 20rem;
}
.coins-data-item-text {
    font-size: 0.9rem;
    margin-top: 0.1rem;
}

@media screen and (max-width: 786px) {
    .coins-data-item {
        min-width: 15rem;
    }
}