@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
html {
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  color: #424242;
  font-size: 0.8rem;
  overflow-x: hidden;
}
